@import "tailwindcss";

@theme {
  --shadow-flat: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);

  /* social media colors */
  --color-instagram: #e1306c;
  --color-linkdin: #0a66c2;
  --color-github: #6e5494;
}

:root {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Roboto Mono Variable", "monospace";

  --window-width: clamp(40rem, 90vw, 50rem); /* min 640px, max 800px */
  --window-height: clamp(25rem, 60vh, 35rem);
}

/* Colors */

:root[data-theme="dark"] {
  --color-bg: #171717;
  --color-bg-secondary: #132135;
  --color-bg-header: #171717;
  --color-border: #fff;
  --color-border-secondary: #fff;
  --color-text: #fff;
  --color-text-secondary: #fff;
  --color-bg-wave-first: #1780bd;
  --color-bg-wave-second: #0c4c70;
  --color-docker-bg: rgba(23, 23, 23, 0.6);
  --color-docker-border: rgba(255, 255, 255, 0.1);
  --color-docker-icon: #fff;

  /* Cursors */
  --cursor-default: url("../../public/cursors/dark/default-dark.png"), auto;
  --cursor-pointer: url("../../public/cursors/dark/select-dark.png"), pointer;
  --cursor-text: url("../../public/cursors/dark/text-select-dark.png"), text;
  --cursor-grab: url("../../public/cursors/dark/move-dark.png"), grab;
  --cursor-grabbing: url("../../public/cursors/dark/move-dark.png"), grabbing;
}

:root[data-theme="light"] {
  --color-bg: #fff;
  --color-bg-secondary: #ffff;
  --color-bg-header: #424242;
  --color-border: #424242;
  --color-border-secondary: #a4a4a4;
  --color-text: #171717;
  --color-text-secondary: #fff;
  --color-bg-wave-first: #0c4c70;
  --color-bg-wave-second: #1780bd;
  --color-docker-bg: rgba(255, 255, 255, 0.4);
  --color-docker-border: rgba(0, 0, 0, 0.1);
  --color-docker-icon: #1d1d1f;

  /* Cursors */
  --cursor-default: url("../../public/cursors/light/default-light.png"), auto;
  --cursor-pointer: url("../../public/cursors/light/select-light.png"), pointer;
  --cursor-text: url("../../public/cursors/light/text-select-light.png"), text;
  --cursor-grab: url("../../public/cursors/light/move-light.png"), grab;
  --cursor-grabbing: url("../../public/cursors/light/move-light.png"), grabbing;
}

html,
body {
  cursor: var(--cursor-default);
}

a,
button,
[role="button"],
select,
summary,
.pointer,
input[type="submit"],
input[type="button"] {
  cursor: var(--cursor-pointer) !important;
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
[contenteditable="true"] {
  cursor: var(--cursor-text);
}

body {
  font-family: var(--font-sans), serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.handle {
  cursor: var(--cursor-grab), grab;
}

.react-draggable-dragging,
.react-draggable-dragging .handle {
  cursor: var(--cursor-grabbing) !important;
}

@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.animate-pop-in {
  animation: popIn 0.1s ease-out forwards;
}

.animate-pop-out {
  animation: popOut 0.08s ease-in forwards;
}
