@import "tailwindcss";

:root {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Roboto Mono Variable", "monospace";
}

body {
  font-family: var(--font-sans);
}
